<div class="input-component {{class}}">
    <label for="{{inputId}}" class="input-label">{{label}}</label>
    <textarea id="{{inputId}}" class="input-field {{inputClass}}" placeholder="{{placeholder}}" {{disabled}}></textarea>
    <small></small>
</div>