<div class="price-card {{class}}">
    <div class="price-card__days">
        <p>{{days}}</p>
    </div>
    <div class="price-card__time">
        <p class="price-card__time-cost brand-txt">{{price-1}} <span>/ {{hour-1}}</span></p>
        <p class="price-card__time-range white-txt">{{time-1}}</p>
    </div>
    <div class="price-card__time">
        <p class="price-card__time-cost brand-txt">{{price-2}} <span>/ {{hour-2}}</span></p>
        <p class="price-card__time-range white-txt">{{time-2}}</p>
    </div>
    <p class="price-card__descr white-txt"><i>{{descr}} <span class="brand-txt">{{strongText}}</span></i></p>
    {{> button class="price-card__btn open-modal" text="забронировать" modalName="booking-modal"}}
</div>