<label class="radio-component {{class}}">
    <img class="radio-component__img rounded" src={{imgSrc}} alt={{imgAlt}}>
    <div class="radio-component-wrapper">
        <input class="radio-component__input" type="radio" name={{name}} value={{value}} {{checked}}>
        <span class="radio-component__txt">{{text}}</span>
        <small></small>
    </div>
</label>